<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  {{>header}}
  <main class="About">
    <h2>About {{name}}</h2>
    <p>Hi I'm Samantha Lau, but call me Sammie. </p>
    <p>This site uses data from <a href="http://mapbox.com">mapbox.com</a> and <a
        href="http://darksky.net">darksky.net</a></p>
    <img src="./img/sadfatcat.jpeg" alt="Sad fat cat">
  </main>
  {{>footer}}
</body>

</html>